:root {
  --default-color: #ed1e24;
  --text-color: #fff;
  --border: #ddd;
}
/* h2 */
h2 {
  font-size: 30px;
}
a {
  color: var(--text-color);
}
a:hover{
  transition: 0.5s;
  opacity: 0.8;
}
/* Start Header/ Start navbar */
#navbar {
  background-color: var(--default-color);
  color: var(--text-color);
  height: 60px;
  padding: 0 15px;
}

#navbar h2,
#navbar ul,
#navbar li,
#navbar nav {
  display: inline-block;
}

#navbar h2 {
  line-height: 60px;
  margin-left: 50px;
}
#navbar img {
  height: 40px;
  position: absolute;
  top: 10px;
  transform: rotate(45deg);
}
#navbar nav {
  float: right;
}
#navbar ul {
  margin-top: 22px;
}
#navbar li {
  margin: 0 10px;
}
/* End header */
#navbar-list li a {
  color: var(--text-color);
}
#navbar-list li a:hover {
  border-bottom: 2px solid var(--text-color);
}
/* Start Banner */
#main-banner {
  height: 70vh;
  background-image: url("../img/bg-projeto.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 15vh;
}
#banner-info {
  width: 40%;
  margin: 0 auto;
  text-align: center;
  color: var(--text-color);
  padding: 50px;
}
#banner-info img {
  height: 120px;
  border-radius: 50%;
  background-color: var(--default-color);
  margin: 30px 0;
}
#banner-info p {
  background-color: var(--default-color);
  font-weight: bold;
  width: 200px;
  margin: 0 auto;
  padding: 15px;
}
/* End Banner */

/* Start About */

#about-section {
  text-align: center;
  background-color: var(--default-color);
  color: #fff;
  padding-top: 3.1rem;
  height: 315px;
}
#about-section h2 {
  margin-bottom: 20px;
  text-transform: uppercase;
}
#about-section p {
  max-width: 650px;
  margin: 0 auto;
  line-height: 30px;
}

/* End About */

/* Start Skills */
#skills-section {
  margin-top: -100px;
  background: #fff;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid var(--border);
  border-radius: 1rem;
}
#skills-section .container {
  display: flex;
  flex-direction: row;
  justify-self: center;
}
.skills-container {
  flex: 1, 1, 1;
  text-align: center;
  padding: 60px 20px;
}
.central {
  border-left: 1px solid var(--border);
  border-right: 1px solid var(--border);
}
.skills-container h3 {
  color: var(--default-color);
  font-size: 20px;
}
.skills-container img {
  height: 90px;
  padding: 15px;
  border: 1px solid var(--default-color);
  border-radius: 1rem;
}
.skills-container .subtitle {
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 15px;
}
.skills-container p {
  line-height: 25px;
}
/* End Skills */
/* Start Jobs */

#jobs-section {
  text-align: center;
  padding-top: 50px;
}
#jobs-section h2 {
  color: var(--default-color);
  margin-bottom: 30px;
}
#jobs-section p {
  margin-bottom: 50px;
}
#jobs-section a {
  font-weight: bold;
  color: var(--default-color);
}
.jobs-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}
.job-box {
  flex: 1, 1, 200px;
  margin-left: 25px;
  margin-right: 25px;
  height: 300px;
  background-size: cover;
  border-right: 2px solid var(--default-color);
  border-left: 2px solid var(--default-color);
  width: 100%;
  border-radius: 1rem;
}
.proj1 {
  background-image: url("../img/proj1.jpg");
}
.proj2 {
  background-image: url("../img/proj2.jpg");
}
.proj3 {
  background-image: url("../img/proj3.jpg");
}

/* End Jobs */
/* Start Footer */

footer {
  padding: 50px 0;
  background-color: var(--default-color);
  color: var(--text-color);
  text-align: center;
}

footer img {
  height: 4rem;
  margin: 30px 0;
}

footer p {
  margin-top: 25px;
}

footer form {
  width: 400px;
  margin-left: auto;
  margin-right: auto;
}
form textarea, form input{
  border: none;
  padding: 15px;
  margin-bottom: 20px;
  width: 100%;
  border-radius: 0.5rem;
}

form input[type=submit]{
  cursor: pointer;
}

form input[type=submit]:hover{
  opacity: 0.8;
  transition: 0.7s;
}

footer .detail{
  font-weight: bold;
}