:root {
  --braground-color-body: #2ab3a6;
  --bgc-caculator: #000807;
  --btn: #0c1a21;
  --btn-hover: #162f3b;
  --ac-color: #1b7769;
  --bgc-second: #228f84;
  --especial-hover: #18646b;
  --equal-bgc: #1b7269;
  --equal-hover: #25968a;
  --result-bgc: #;
  --text-color: #fff;
}
body {
  background-color: var(--braground-color-body);
}
.calculator {
  background-color: var(--bgc-caculator);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 1rem;
  padding: 1rem;
}
table td {
  display: inline-block;
}
.btn {
  background-color: var(--btn);
  margin: 3px;
  width: 50px;
  height: 40px;
  cursor: pointer;
  border: none;
  color: var(--text-color);
  font-size: 1rem;
}
.btn:hover {
  background-color: var(--btn-hover);
}
.ac {
  background-color: var(--ac-color);
}
.ac:hover {
  background-color: var(--bgc-second);
}
.special {
  background-color: var(--bgc-second);
}
.special:hover {
  background-color: var(--especial-hover);
}
.equal {
  background-color: var(--equal-bgc);
}
.equal:hover {
    background-color: var(--equal-hover);
}
.result:hover {
    background-color: var(--result-bgc);
}
.result{
    height: 100px;
    color: #DFDFDF;
    text-align: right;
    font-size: 2rem;
    border-bottom: 1px solid #25968a;
}